
/* GLOBAL STUFF==========================================================================================================*/
* {
	box-sizing: border-box;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/*BODY STYLES==========================================================================================================*/

body {
	margin: 0;
	background-color: #3c3a40;
	font-family: 'Work Sans', sans-serif;
	/*NAV STYLES==========================================================================================================*/
}
nav a {
	text-decoration: none;
	color: white;
	margin: 10px;

}

.block {
	width: 20%;
	display: inline-block;
	float: left;
	padding: 8px;
}

#block1 {
	background-color: #FF530D;
}

#block2 {
	background-color: #E82C0C;
}

#block3 {
	background-color: #FF0000;
}

#block4 {
	background-color: #E80C7A;
}

#block5 {
	background-color: #FF0DFF;
}
/* COLUMN LAYOUT==========================================================================================================*/


.colorone {
	background-color: #504E57;
}


.colortwo {
	background-color: #5B5A63;
}


.colorthree {
	background-color: #38373D;
}

img{
	margin: auto;
	display: block;
	border: solid purple;
	border-radius: 50%;
	width: 50vw;

}


h1 {
	font-family: 'Oleo Script', cursive;
	color: white;
	font-size: 48px;
	text-align: center;
	display: block;
	
}

h2 {
	text-align: center;
}
h2 a {
	font-family: 'Oleo Script', cursive;
	text-decoration: none;
	color: #E80C7A;
	font-size: 20px;
	border: solid 1px #FF530D;
	border-radius: 25px;
	padding: 12px;

}

p {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	color: #E80C7A;
	text-align: center;
	margin: 42px;
}

.button {
	transition-duration: 0.4s;
	margin-left:auto;
	margin-right:auto;

}

.button:hover {
	background-color: #B2AFC2; 
	color: #FF0000;
}

a .button {
	margin-left:auto;
	margin-right:auto;
}

.swag {
	font-family: 'Oleo Script', cursive;
	text-decoration: none;
	color: white;
	font-size: 60px;
	text-align: center;
}

/*FORM STYLES==========================================================================================================*/
.container {
	text-align: center;
}

.row {
	border: solid #FF530D 2px;
	padding: 22px;
	margin: 95px;
}

#contactform input {
	font-size: 15px;
	margin: 20px;
	text-align: center;
}

#message {
	font-size: 15px;
	padding: 10px;
	text-align: center;
}

#submit {
	font-size: 10px;
}

.choose1 {
	text-align: center;
}

.choose2 {
	text-align: center;

}

.choose2 select {
	display: none;
}

#poop {
	display: none;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

div.inputs {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

a#submit {
	text-decoration: none;
	font-size: 10px;
	color: black;
	border: solid 2px #E80C7A;
	margin-top: 5px;
	padding: 6px;
}

#passcode {
	margin: 10px;
}

#email {
	margin: 10px;
}

input#checky, label.terms {

	margin: 20px;
}

.my-slider {

}

a.unslider-arrow {
	display: none;
}

.unslider-nav ol li {
	background: #FF0000;
    height: 16;
    width: 16px;
    padding: 4px;
}


#refresh {
	margin-bottom: 66px;
	display: none;

}

.center {
	text-align: center;

}